[submodule "submodules/material-components-web-catalog"]
	path = submodules/material-components-web-catalog
	url = https://github.com/material-components/material-components-web-catalog.git
[submodule "submodules/BlazorUnitTestingPrototype"]
	path = submodules/BlazorUnitTestingPrototype
	url = https://github.com/ldalonzo/BlazorUnitTestingPrototype.git
