@page "/component/button"

<section class="component-catalog-panel">
    <div class="component-catalog-panel__hero-area">
        <div class="component-catalog-panel__header">
            <h1 class="component-catalog-panel__header-elements mdc-typography--headline3">
                Button
            </h1>
            <div class="hero-component">
                <MDCButton Variant="@Variant">@ButtonText</MDCButton>
            </div>
        </div>
    </div>
    <h2 class="demo-title">Demos</h2>
    <div>
        <div>
            <h3 class="mdc-typography--subtitle1">Text Button</h3>
            <MDCButton>Default</MDCButton>
            <MDCButton LeadingMaterialIconName="favorite">Icon</MDCButton>
        </div>
        <div>
            <h3 class="mdc-typography--subtitle1">Outlined Button</h3>
            <MDCButton Variant="@MDCButtonStyle.Outlined">Default</MDCButton>
            <MDCButton Variant="@MDCButtonStyle.Outlined"
                       LeadingMaterialIconName="favorite">Icon</MDCButton>
        </div>
    </div>
</section>

@code {
    [Parameter] public string ButtonText { get; set; } = "Learn More";
    [Parameter] public MDCButtonStyle Variant { get; set; }
}
