@page "/component/select"

<section class="component-catalog-panel">
    <div class="component-catalog-panel__hero-area">
        <div class="component-catalog-panel__header">
            <h1 class="component-catalog-panel__header-elements mdc-typography--headline3">
                Select
            </h1>
            <div class="hero-component">
                <MDCSelect Label="@Label" DataSource="@Fruits" @bind-Value="@SelectedItem" />
            </div>
            <div class="hero-options component-catalog-panel__header-elements">
                <ul>
                    <li>
                        <MDCTextField Label="Selected" Variant="MDCTextFieldStyle.Outlined" Value="@SelectedItem" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="demo-title">Demos</h2>
    <div>
        <div>
            
        </div>
    </div>
</section>

@code {
    private string Label { get; set; } = "Fruit";

    private string SelectedItem { get; set; }

    private readonly List<string> Fruits = new List<string>
    {
        "Apple",
        "Orange",
        "Banana"
    };
}
