@using Microsoft.AspNetCore.Components.Web

@inherits MDCButtonComponent
<button class="@ClassString" @ref="_MDCButton" @onclick=OnClick>
    <div class="mdc-button__ripple"></div>

    @if (!string.IsNullOrWhiteSpace(LeadingMaterialIconName))
    {
        <i class="material-icons mdc-button__icon" aria-hidden="true">@LeadingMaterialIconName</i>
    }

    <span class="mdc-button__label">@ChildContent</span>
</button>
