@inherits MaterialComponent
<aside @ref="_MDCDrawer"
       class="@ClassString">
    <div class="mdc-drawer__content">
        <CascadingValue Value=this>
            <nav class="mdc-list">
                @ChildContent
            </nav>
        </CascadingValue>
    </div>
</aside>
