@inherits MaterialComponent
<aside @ref="_MDCDrawer"
       class="@ClassString">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            @ChildContent
        </nav>
    </div>
</aside>
