@inherits MDCDataTable
@typeparam TItem
<div class="@ClassString">
    <table class="mdc-data-table__table" aria-label="@Label">
        <thead>
        </thead>
        <tbody class="mdc-data-table__content">
        </tbody>
    </table>
</div>
