@use "@material/typography/mdc-typography";

@use "./Shared/ComponentCatalogPanel.razor.scss";

@import "../../submodules/material-components-web-catalog/src/styles/CatalogPage.scss";
@import "../../submodules/material-components-web-catalog/src/styles/ComponentCatalogPanel.scss";
@import "../../submodules/material-components-web-catalog/src/styles/ComponentPage.scss";
@import "../../submodules/material-components-web-catalog/src/styles/DrawerFrameCatalog.scss";
@import "../../submodules/material-components-web-catalog/src/styles/HeroComponent.scss";
@import "../../submodules/material-components-web-catalog/src/styles/SnackbarCatalog.scss";
@import "../../submodules/material-components-web-catalog/src/styles/TopAppBarCatalog.scss";

app {
  display: flex;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
