@inherits LayoutComponentBase

<MDCTopAppBar class="app-bar"
              Title="Material Blazor Components"
              OnNav="@ToggleNavMenu">
    <ActionItems>
        <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
           aria-label="Bookmark this page"
           href="https://github.com/ldalonzo/material-components-web-blazor"
           target="_blank">code</a>
    </ActionItems>
</MDCTopAppBar>

<MDCDrawer class="mdc-top-app-bar--fixed-adjust"
           Variant="MDCDrawerVariant.Dismissible"
           @ref="_drawerElementRef">
    <DrawerContent>
        <NavMenu />
    </DrawerContent>
</MDCDrawer>

<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="main-content">
        @Body
    </main>
</div>

@code {
    private MDCDrawer _drawerElementRef;

    private async Task ToggleNavMenu()
        => await _drawerElementRef.ToggleOpen();
}
