@inherits MaterialComponent
<div class="@ClassString" role="tablist">
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
            </div>
        </div>
    </div>
</div>
