@inherits MaterialComponent
<button class="@ClassString" @ref="mdcButtonElement" @onclick=OnClick disabled="@Disabled">
    <span class="mdc-button__ripple"></span>

    @if (!string.IsNullOrWhiteSpace(LeadingIcon))
    {
        <i class="material-icons mdc-button__icon" aria-hidden="true">@LeadingIcon</i>
    }

    <span class="mdc-button__label">@ChildContent</span>
</button>
