@inherits MaterialComponent
<button class="@ClassString" @ref="_MDCButton" @onclick=OnClick>
    <div class="mdc-button__ripple"></div>

    @if (!string.IsNullOrWhiteSpace(LeadingIcon))
    {
        <i class="material-icons mdc-button__icon" aria-hidden="true">@LeadingIcon</i>
    }

    <span class="mdc-button__label">@ChildContent</span>
</button>
